# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*

# Terraform variables (often secrets)
*.tfvars

# Vault data (CRITICAL)
terraform/vault/data/

# Python
.venv/
venv/

# Ansible
*.retry

# Logs
*.log

# OS
.DS_Store
Thumbs.db